[Unit]
Description=Run rollup every two minutes

[Timer]
Unit=london-home-finder@rollup.service
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
