[Unit]
Description=Run ingest every five minutes

[Timer]
Unit=london-home-finder@ingest.service
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
