[Unit]
Description=Run drain every five minutes

[Timer]
Unit=london-home-finder@drain.service
OnBootSec=2min
OnUnitInactiveSec=5min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
