[Unit]
Description=Run drain every two minutes

[Timer]
Unit=london-home-finder@drain.service
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
